// Definition of all the colors used in the app

// Application light background color
$background-light: #FCFCFC;

// Used as background color for text boxes
$box-light-1: #FFFFFF;

// Used as background color for label boxes
$box-light-2: #EEEEEE;

// Used as a light bordering around lighter boxes
$border-light: #DADFE1;

// Application dark background color
$background-dark: #222222;

// Dominant color
$primary-color-1: #F39C12;